@font-face {
  font-family: 'WalkwaySemiBoldRegular';
  src: url('font/Walkway_SemiBold-webfont.eot');
  src: url('font/Walkway_SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
       url('font/Walkway_SemiBold-webfont.woff') format('woff'),
       url('font/Walkway_SemiBold-webfont.ttf') format('truetype'),
       url('font/Walkway_SemiBold-webfont.svg#WalkwaySemiBoldRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.familiar {
    line-height: 1.5em;
    font-family: 'Kite One', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

.page-header {
  font-family: 'WalkwaySemiBoldRegular', Arial, sans-serif;
  margin: 0;
  padding-bottom: 0;
}

.hero-unit {
  margin: 1px 0;
  padding: 20px 20px 0 20px;
}

.hero-unit a:hover {
  text-decoration: none;
  color: #5E718F;
}

.hero-unit a {
  text-decoration: none;
}

.hero-unit h1, .hero-unit small {
  margin: 0 0 20px 0;
  color: #44536C;
  text-decoration: none;
}

.hero-unit .tagline {
  display: block;
  margin: 0 0 0 85px;
  color: #414F66;
}

.navbar-inner {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #414f66;
  background-image: -moz-linear-gradient(top, #45546c, #3b485c);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#45546c), to(#3b485c));
  background-image: -webkit-linear-gradient(top, #45546c, #3b485c);
  background-image: -o-linear-gradient(top, #45546c, #3b485c);
  background-image: linear-gradient(to bottom, #45546c, #3b485c);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff45546c', endColorstr='#ff3b485c', GradientType=0);
  border: 1px solid #232b37;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.navbar .brand {
	width: 75px;
	height: 75px;
    margin: -36px 0 -18px 0;
	padding: 0;
	background: url("../img/blueberry.png");
}

.product {
    position: relative;
}

.product h3 {
    position: absolute;
    left: 0.5em;
    border: 1px solid #90BA3C;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgba(144, 186, 60, 0.9);
    padding: 0 0.5em;
    color: #3F4D62;
}

.product p {
    padding: 10px 10px 0px 10px;
}

.product img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.machineDescription {
    margin: 0;
}

.machineDescription li {
    margin: 0 0 1em 0;
    list-style: none inside;
}

.nav-collapse.in.collapse {
  padding: 5px 0 0 0;
}

.favicon-link {
  padding: 0 0 0 20px;
}

.popchip-favicon, .favicon{
  background: url(../img/favicon_sprite.png) no-repeat;
}

.popchip-favicon{
  background-position: 0 0;
  width: 16px;
  height: 16px;
}

.clifbar-favicon {
  background-position: 0 -16px ;
  width: 16px;
  height: 16px;
}

.annies-homegrown, .brothers-all-natural, .clif-bar, .clif-mojo-bar, .clif-twisted-fruit, .clif-z-bar, .glaceau-vitamin-water, .kashi-tlc-crunchy-granola-bar, .luna-bar, .materne-gogo-squeez, .stacys-all-natural-pita-chips, .stretch-island-fruit-leather, .v8-fusion{
  background: url(../img/products.png) no-repeat;
}

.annies-homegrown{
  background-position: 0 0;
  width: 66px;
  height: 100px;
}

.brothers-all-natural{
  background-position: -100px 0;
  width: 100px;
  height: 80px;
}

.clif-bar{
  background-position: -200px 0;
  width: 65px;
  height: 100px;
}

.clif-mojo-bar{
  background-position: -300px 0;
  width: 62px;
  height: 100px;
}

.clif-twisted-fruit{
  background-position: -400px 0;
  width: 62px;
  height: 100px;
}

.clif-z-bar{
  background-position: 0 -150px ;
  width: 100px;
  height: 45px;
}

.glaceau-vitamin-water{
  background-position: -100px -150px ;
  width: 100px;
  height: 100px;
}

.kashi-tlc-crunchy-granola-bar{
  background-position: -200px -150px ;
  width: 96px;
  height: 100px;
}

.luna-bar{
  background-position: -300px -150px ;
  width: 100px;
  height: 47px;
}

.materne-gogo-squeez{
  background-position: 0 -250px ;
  width: 67px;
  height: 100px;
}

.stacys-all-natural-pita-chips{
  background-position: -100px -250px ;
  width: 65px;
  height: 100px;
}

.stretch-island-fruit-leather{
  background-position: -200px -250px ;
  width: 41px;
  height: 100px;
}

.v8-fusion{
  background-position: -300px -250px ;
  width: 45px;
  height: 100px;
}

.product-container {
  margin: 30px 0;
}

.img-enhance {
    -moz-box-shadow: 1px 1px 10px 0px #000;
    -webkit-box-shadow: 1px 1px 10px 0px #000;
    box-shadow: 1px 1px 10px 0px #000;
}

.footer {
    margin-top: 2em;
    border-bottom: 2px dotted #45546c;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
}

.card {
    margin: 0 2em;
}

.card h3 {
    font-family: 'WalkwaySemiBoldRegular', Arial, sans-serif;
    margin: 0;
    line-height: 1.5em;
}

.card div {
    border-bottom: 3px solid #90BA3C;
    margin-bottom: 1em;
}